*,
*::after,
*::before {
    --dark: #222;
    --bright: #ccc;
    --brownish: #a17d7d66;
    --vine: rgba(224, 52, 52, 0.74);

    font-family: monospace;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

:root {
    background-color: var(--dark);
    color: var(--bright);
}

body {
    align-content: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100dvh;
    width: 100vw;
}

.container {
    border: none;
    border-radius: 10px;
    box-shadow: inset 0px 0px 3px var(--bright), 0 0 20px var(--bright);
    text-align: center;
    padding: 2rem 3rem;
    margin: auto;
    max-width: 600px;
    width: 70vw;

    & .title {
        font-size: 1.8rem;
    }

    & .content {
        padding: 2rem 0 2rem;
        white-space: pre-line;
    }

    & .buttons {
        align-content: stretch;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
    }

    & .buttons .button {
        background-color: transparent;
        border: none;
        border-radius: 10px;
        color: var(--bright);
        cursor: pointer;
        font-size: 1rem;
        padding: 0.4rem 0.6rem;
        text-align: center;

        &:not(:last-child) {
            margin-right: 0.6rem;
        }

        &:hover {
            background-color: var(--brownish);
        }
    }
}